/* app css stylesheet */
* {
	box-sizing:border-box;
}
body{
	background: #4d4333 url('../../media/bean_background.jpg') top center / cover no-repeat fixed;
}
.year{
	margin-left:40px;
	margin-right:40px;
	min-width:320px;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
}
.month{
	margin-top:40px;
	width:100%;
	min-height:100vh;
	border:1px solid white;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	background-color: rgba(0,0,0,.3);
}
.month .title{
	position:relative;
	position:-webkit-sticky;
	position:sticky;
	-ms-flex-positive:1;
	flex-grow:1;
	top:0px;
	height:5vmin;
	background: url('../../media/bean_background.jpg') top center / cover no-repeat fixed;
}
.month .title .title-text{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px; 
	padding-left:20px;
	color:white;
	font-size:5vmin;
	line-height:8vmin;
	background-color: rgba(0,0,0,.8);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-direction: column;
	flex-direction: column;
}

.month .days{
	-ms-flex-positive:10;
	flex-grow:10;
	display:-ms-flexbox;
	display:flex;
	height:auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
}
.day{
	position:relative;
	border-right: 1px gray solid;
	border-bottom: 1px gray solid;
	width:14.2857%;
	background-color:white;
	padding:10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.day.button{
	transition: .2s ease-out transform, box-shadow;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	cursor:pointer;
}
.day .clickarea{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
}
.day.button:hover{
	transform: perspective(500px) translateZ(50px);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

}
.day .bean-container{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-line-pack:center;
	align-content:center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.day .bean-container span{
	display:inline;
	width:25%;
}
.day img{
	width:100%;
	height:auto;
}
.extraneous {
	background-color:transparent;
	border:none;
	visibility:hidden;
	opacity:0;
}
@supports ((-webkit-backdrop-filter: blur(20px) brightness(70%)) or (backdrop-filter: blur(20px) brightness(70%))){
	.month .title .title-text, .month {
		background-color: transparent;
		-webkit-backdrop-filter: blur(30px) brightness(20%);
		backdrop-filter: blur(30px) brightness(20%);	
	}
	.month {
		background-color: transparent;
		-webkit-backdrop-filter: blur(20px) brightness(50%);
		backdrop-filter: blur(20px) brightness(50%);	
	}
	
}
.detail{
	width:100%;
	margin:20px;
	border: 1px gray solid;
	min-height:30vmin;
	background-color:white;
	font-size:1.5vmin;
}
.detail-title{
	border-bottom: 1px gray solid;
	margin-left:20px;
	margin-top:20px;
	font-size:3vmin;
	font-weight:bold;
}
.detail-title img{
	height:3vmin;
	width:auto;
}
.detail-content{
	margin:40px;
}
.detail-label{
	font-weight:bold;
}
.detail-text{
	
}
.detail-text span::after{
	content:", ";
}
.detail-text span:last-of-type::after{
	content:"";
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";

}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
